/* global.css */

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, ::after, ::before {
    box-sizing: inherit;
    -webkit-font-smoothing: inherit;
}

body {
    font-family: 'Dela Gothic One', cursive;
    background-color: #005857;
    margin: 0px;
    background-image: url('../img/doodle.png');
    background-size: 750px;
}

a {
    text-decoration: none;
}